@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap');

body{
    margin: 0;
    line-height: 1.5;
}

body,
textarea,
input,
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.contenedor{
    max-width: 1170px;
    margin:auto; 
}

.justificar-contenido{
    justify-content: space-between;
}

@keyframes anim01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes anim02{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes scaleIn {
    from   {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to{
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-70px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-70px)
                rotate(-360deg);
    }
  }
  

.row{
    display:flex;
    flex-wrap:wrap;
}

.alinear-elementos-centro{
    align-items: center;
}

/*Barra de inicio*/
.barra-inicio{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.barra-inicio .nombre-empresa{
    /*background-color: #ABB4D2;*/
    padding: 0 15px;
}

.barra-inicio .nombre-empresa a{
    text-decoration: none; 
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.barra-inicio .nav ul li a:hover{
    color: #FF9800;
}

.barra-inicio .nav {
        /*background-color: #ABB4D2;*/
        padding: 0 15px;
}

.barra-inicio .nav ul{
    list-style: none; 
    margin: 0;
    padding: 0; 
}

.barra-inicio .nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.barra-inicio .nav ul li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding: 25px 0;
        display: block;
        transition: all 0.5s ease;
}


.Inicio {
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        /*background-image: url('../IMG/limpiezaHome.png');*/
        background-image: url('C:/Users/GOFALBET 3/Documents/ProyectoVS/FirstjQueryPractice/IMG/limpiezaHome.png');
        position:relative;
        z-index: 1;
}

.Inicio:before{
    content: '';
    position:absolute;
    box-sizing:border-box;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.Inicio .shape-01{
    position:absolute;
    height: 30px;
    width: 30px;
    border: 2px solid #00A0A0;
    right: 5%;
    top: 20%;
    animation: anim01 7s linear infinite;
}

.Inicio .shape-02{
    position:absolute;
    height:50px;
    width: 50px;
    border: 2px solid #00A0A0;
    top: 40%;
    left: 35px;
    animation: anim02 7s linear infinite;
}

.Inicio .shape-03{
    position:absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2.5px dotted #00A0A0;
    animation: anim01 7s linear infinite;
    top: 65%;
    right: 30%;
    margin-top: 30px;
}

.Inicio .shape-04{
    position: absolute;
    border-left: 50px dotted transparent;
    border-left: 50px dotted transparent; 
    border-bottom: 50px outset #00A0A0;
    animation: anim01 5s linear infinite;
    top: 15%;
    right: 62%;
}

.sobre-nosotros .shape-01sn{
    height: 50px;
    width: 50px;
    border: 2px solid #669195;
    position: absolute;
    animation: anim01 3s alternate infinite;
    margin: 18% 0 0 50%;
}

.sobre-nosotros .shape-02sn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #669195;
    position: absolute;
    animation: scaleIn 5s infinite cubic-bezier(.36, .11, .89, .32);
    margin: 18% 20% 0 6%;
}

.sobre-nosotros .shape-03sn{
    height: 70px;
    width: 70px;
    border: 2px solid #669195;
    position: absolute;
    animation: anim01 4s alternate infinite;
    margin: 0 0 0 30%;
}

.sobre-nosotros .shape-04sn{
    position:absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #669195;
    animation: scaleIn 2s infinite cubic-bezier(.36, .11, .89, .32);
    margin: 30% 0 0 40%;
}

.sobre-nosotros .shape-05sn{
    height: 40px;
    width: 40px;
    border: 2px solid #669195;
    position: absolute;
    animation: anim01 2s forwards infinite;
    margin: 5% 50% 0 5%;
}

.sobre-nosotros .shape-06sn{
    position:absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #669195;
    animation: scaleIn 7s infinite cubic-bezier(.36, .11, .89, .32);
    margin: 20% 0 0 90%;
}

.sobre-nosotros .shape-07sn{
    height: 40px;
    width: 40px;
    border: 2px solid #669195;
    position: absolute;
    animation: anim01 2s linear infinite;
    margin: 0 0 0 80%;
}


.Inicio .row{
    min-height: 100vh;
}

.Inicio .contenido-inicio{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.Inicio .contenido-inicio h4{
    font-size: 20px;
    color:#ffffff;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.Inicio .contenido-inicio h1{
    font-size: 60px;
    margin:0;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 900;
}

.Inicio .scroll-down{
    position:absolute;
    left: 50%;
    bottom: 30px;
    height: 30px;
    width: 30px;
    animation: scroll 2s ease infinite;
}

@keyframes scroll{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-35px);
    }
    60%{
        transform: translateY(-15px);
    }
}

.Inicio .scroll-down img{
    width: 30px;
    display:block;
}

/*Secci�n Sobre Nosotros*/

.sobre-nosotros {
    padding: 80px 0;
    background-color: #fafac9;
}

.sobre-nosotros .sobre-nosotros-img {
    flex: 0 0 46.46%;
    max-width: 66.66%;
    padding: 0 0 0 188px;
}

.sobre-nosotros .sobre-nosotros-img .image-box img{
    margin: 80px 0 0 0;
    width:90%;
    display: block;
    /*padding-right: 125px;*/
}

.sobre-nosotros .contenido-sobre-nosotros{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 60px 0 0 10px;
}

.titulo-sobreNosotros{
    flex: 0 0 70%;
    max-width: 70%;
}

    .titulo-sobreNosotros h1 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 55px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    position: relative;
    color: #f3b229;
}

    .titulo-sobreNosotros h1::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 320px;
        height: 3px;
        background-color:#00474f;
}

.sobre-nosotros .contenido-sobre-nosotros p{
    font-size: 21px;
    color: #555555;
    line-height: 26px;
    margin: 0;
    text-align:justify;
}

.sobre-nosotros .contenido-sobre-nosotros .estadisticas .caja-estadisticas{
    /*background-color: red;*/
    flex: 0 0 30%;
    max-width: 30%;
    padding: 20px 0 0 60px;
    text-align: center;
}

.sobre-nosotros .contenido-sobre-nosotros .estadisticas .caja-estadisticas h2{
    font-weight: 500;
    font-size: 35px;
}

.sobre-nosotros .contenido-sobre-nosotros .estadisticas .caja-estadisticas h5{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-contact{
    border: 3px solid transparent;
    padding: 10px 35px;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    background-color: #669195;
    color: white;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
}

.btn-01:focus{
    outline: none;
}

.btn-01:hover{
    background-color: transparent;
    border-color:  #669195;
    color:#669195;
    font-weight: 600;
}

.sobre-nosotros .contenido-sobre-nosotros .btn-contact{
    margin: 20px 0 0 215px;
}